.curriculum{
    padding: 30px;
    &-profile{
        padding: 30px;
        background-color: $profile-section;
        color: $background;
        height: 100%;
        contain: content;
        &-img{
            max-width: 200px;
            width: 100%;
            margin-bottom: 30px;
            margin-top: 30px;
            border-radius: 0 2.5rem;
        }
        &-name{
            text-align: left;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }
        &-wraper{
            margin-bottom: 30px;
        }
        &-title{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: left;
            &.link{
                color: $white;
                text-decoration: none;
                transition: all 0.2s ease;
                &:hover{
                    text-shadow: 5px 5px 5px $white;
                    color: $white;
                }
                &:active{
                    text-shadow: 5px 5px 5px $white;
                    color: $white;
                }
            }
        }
        &-list{
            padding-left: 5px;
        }
        &-item{
            &.none{
                list-style: none;
                font-size: 14px;
                i{
                    margin-right: 10px;
                    color: $background;
                }
            }
        }
    }

    &-information{
        color: $black;
        padding-bottom: 150px;
        &-title{
            @include titleStyle(24px);
            &.first{
                margin-top: 50px;
            }
        }
        &-wraper{
            padding: 10px 15px;
            &-title{
                @include titleStyle(18px);
            }
            &-subtitle{
                @include titleStyle(14px);
            }
            &-description{
                font-size: 16px;
                margin-bottom: 15px;
                text-align: justify;
            }
            &-date{
                text-align: left;
                font-size: 12px;
            }
        }
    }

    &-hamburger{
        display: none;
    }

    @include media-breakpoint-down(md){
        padding: 0px;
        &-profile{
            background-color: rgba($color: $profile-section, $alpha: 0.95);
            width: 0;
            height: 100vh;
            overflow: scroll;
            position: fixed;
            left: 0;
            top: 0;
            transition: width 0.3s ease;
            z-index: 10;
            padding: 0;
            &-img{
                width: 150px;
                
            }
            &-name{
                font-size: 18px;
            }
        }

        &-hamburgerCheck:checked ~ &-profile {
            width: 260px;
            padding-left: 20px;
        }
        &-hamburgerCheck:checked ~ &-hamburger {
            transform: translateX(258px);
            background-color: rgba($color: $profile-section, $alpha: 0.95);
        }
        &-hamburger{
            display: block;
            color: $white;
            position: fixed;
            z-index: 20;
            top: 50%;
            left: 0;
            padding: 25px 15px;
            border-radius: 0 0.5rem 0.5rem 0;
            background-color: rgba($color: $profile-section, $alpha: 0.3);
            transition: all 0.3s ease;
            transform: translateX(0);
        }

    }
}

.background{
    background-color: $background;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px $gray;
    position: relative;
    overflow: hidden;
}

// .blockAnimation{
//     animation: animationBlock 2s infinite;
//     position: absolute;
//     width: 50px;
//     height: 100px;
//     background-color: rgba($color: $profile-section, $alpha: 0.95);

//     &.one{
//         right: 0;
//         bottom: 0;
//         animation-delay: 0s;
//     }
//     &.two{
//         right: 50px;
//         bottom: 0;
//         animation-delay: 0.2s;
//     }
//     &.three{
//         right: 100px;
//         bottom: 0;
//         animation-delay: 0.5s;
//     }

//     @keyframes animationBlock {
//         0% {
//             // margin-left: 100%;
//             // width: 300%;
//             transform: translateY(0);
//         }
//         50%{
//             // margin-left: 0%;
//             // width: 100%;
//             // transform: translateY(0);
//             transform: translateY(200px);
//         }
//     }
// }